@{
  Layout = "_Layout";
}

@using VendorTracker.Models;

<h3>Here is the order history for this Vendor:</h3>

<ol>
@foreach (Order order in @Model["orders"])
{
  <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Details</a></li>
}
</ol>

<p><a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new order</a></p>
<p><a href='/categories'>Return to vendor list</a></p>
<p><a href='/'>Home</a></p>